{
  "openapi": "3.0.3",
  "info": {
    "title": "Overlay Web API",
    "version": "1.0.0",
    "description": "Generated from the overlay-web route boundary registry. This first-pass reference documents stable route inventory and request shapes."
  },
  "servers": [
    {
      "url": "https://getoverlay.io",
      "description": "Hosted Overlay web app"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development web app"
    }
  ],
  "tags": [
    {
      "name": "Automations"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Bootstrap"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Files"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Knowledge"
    },
    {
      "name": "MCP Servers"
    },
    {
      "name": "Media"
    },
    {
      "name": "Memory"
    },
    {
      "name": "Models"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Onboarding"
    },
    {
      "name": "Outputs"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Skills"
    },
    {
      "name": "Tools"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/api/v1/automations": {
      "delete": {
        "operationId": "deleteAutomations",
        "summary": "Delete an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "automationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "automationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAutomations",
        "summary": "List automations",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ],
              "default": "updatedAt"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "automationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          },
          {
            "name": "runs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchAutomations",
        "summary": "Update an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "schedule": {},
                  "projectId": {
                    "type": "string"
                  },
                  "automationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "automationId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAutomations",
        "summary": "Create an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "schedule": {},
                  "projectId": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/run": {
      "post": {
        "operationId": "postAutomationsRun",
        "summary": "Run an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "automationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "automationId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/test": {
      "post": {
        "operationId": "postAutomationsTest",
        "summary": "Test an automation draft",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "automationId": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/bootstrap": {
      "get": {
        "operationId": "getBootstrap",
        "summary": "Load signed-in app bootstrap state",
        "tags": [
          "Bootstrap"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/browser-task": {
      "post": {
        "operationId": "postBrowserTask",
        "summary": "Start a browser task",
        "tags": [
          "Tools"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "task": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/capabilities": {
      "get": {
        "operationId": "getCapabilities",
        "summary": "Read web capabilities",
        "tags": [
          "Bootstrap"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat-suggestions": {
      "get": {
        "operationId": "getChatSuggestions",
        "summary": "List chat starter suggestions",
        "tags": [
          "Chat"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations": {
      "delete": {
        "operationId": "deleteConversations",
        "summary": "Delete a conversation",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getConversations",
        "summary": "List or read conversations",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ],
              "default": "updatedAt"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "messages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          },
          {
            "name": "beforeCreatedAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "compactToolPayloads",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchConversations",
        "summary": "Update a conversation",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "askModelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "actModelId": {
                    "type": "string"
                  },
                  "lastMode": {
                    "type": "string",
                    "enum": [
                      "ask",
                      "act"
                    ]
                  },
                  "clientId": {
                    "type": "string"
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "conversationId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postConversations",
        "summary": "Create a conversation",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "askModelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "actModelId": {
                    "type": "string"
                  },
                  "lastMode": {
                    "type": "string",
                    "enum": [
                      "ask",
                      "act"
                    ]
                  },
                  "clientId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/act": {
      "post": {
        "operationId": "postConversationsAct",
        "summary": "Run an Act turn",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string"
                  },
                  "conversationClientId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "askModelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "messages": {
                    "type": "array",
                    "items": {}
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "systemPrompt": {
                    "type": "string"
                  },
                  "turnId": {
                    "type": "string"
                  },
                  "modelId": {
                    "type": "string"
                  },
                  "indexedFileNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "indexedAttachments": {},
                  "attachmentNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "replyContextForModel": {
                    "type": "string"
                  },
                  "historyBaseModelId": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "automate"
                    ]
                  },
                  "automationMode": {
                    "type": "boolean"
                  },
                  "automationExecution": {
                    "type": "boolean"
                  },
                  "mediaToolIntent": {
                    "type": "string",
                    "enum": [
                      "image",
                      "video"
                    ],
                    "nullable": true
                  },
                  "requestedToolIds": {},
                  "memoryEnabled": {
                    "type": "boolean"
                  },
                  "actAbortTimeoutMs": {
                    "type": "number",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  },
                  "streamPersistenceMode": {
                    "type": "string",
                    "enum": [
                      "cloudflare-mirror",
                      "direct"
                    ]
                  },
                  "mentions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "fileIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "name"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "multiModelSlotIndex": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "multiModelTotal": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/act/extension-plan": {
      "post": {
        "operationId": "postConversationsActExtensionPlan",
        "summary": "Plan extension actions for an Act turn",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string"
                  },
                  "conversationClientId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "projectId": {
                    "type": "string"
                  },
                  "askModelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "messages": {
                    "type": "array",
                    "items": {}
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "systemPrompt": {
                    "type": "string"
                  },
                  "turnId": {
                    "type": "string"
                  },
                  "modelId": {
                    "type": "string"
                  },
                  "indexedFileNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "indexedAttachments": {},
                  "attachmentNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "replyContextForModel": {
                    "type": "string"
                  },
                  "historyBaseModelId": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "automate"
                    ]
                  },
                  "automationMode": {
                    "type": "boolean"
                  },
                  "automationExecution": {
                    "type": "boolean"
                  },
                  "mediaToolIntent": {
                    "type": "string",
                    "enum": [
                      "image",
                      "video"
                    ],
                    "nullable": true
                  },
                  "requestedToolIds": {},
                  "memoryEnabled": {
                    "type": "boolean"
                  },
                  "actAbortTimeoutMs": {
                    "type": "number",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  },
                  "streamPersistenceMode": {
                    "type": "string",
                    "enum": [
                      "cloudflare-mirror",
                      "direct"
                    ]
                  },
                  "mentions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "fileIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "name"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "multiModelSlotIndex": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "multiModelTotal": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/message": {
      "delete": {
        "operationId": "deleteConversationsMessage",
        "summary": "Delete a conversation message",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "messageId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "turnId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "conversationId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postConversationsMessage",
        "summary": "Add a conversation message",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "content": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "message": {}
                },
                "required": [
                  "conversationId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/share": {
      "patch": {
        "operationId": "patchConversationsShare",
        "summary": "Update conversation sharing",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "public"
                    ]
                  }
                },
                "required": [
                  "conversationId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/stop": {
      "post": {
        "operationId": "postConversationsStop",
        "summary": "Stop a running conversation turn",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "conversationId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/stream-auth": {
      "post": {
        "operationId": "postConversationsStreamAuth",
        "summary": "Create a stream auth token",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/daytona/run": {
      "post": {
        "operationId": "postDaytonaRun",
        "summary": "Run code in a Daytona sandbox",
        "tags": [
          "Tools"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "code": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/files": {
      "delete": {
        "operationId": "deleteFiles",
        "summary": "Delete a file",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getFiles",
        "summary": "List or read files",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ],
              "default": "updatedAt"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "fileId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "outputType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchFiles",
        "summary": "Update a file",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "sizeBytes": {
                    "type": "number",
                    "minimum": 0
                  },
                  "projectId": {
                    "type": "string",
                    "nullable": true
                  },
                  "parentId": {
                    "type": "string",
                    "nullable": true
                  },
                  "conversationId": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string"
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "fileId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postFiles",
        "summary": "Create a file",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "sizeBytes": {
                    "type": "number",
                    "minimum": 0
                  },
                  "projectId": {
                    "type": "string",
                    "nullable": true
                  },
                  "parentId": {
                    "type": "string",
                    "nullable": true
                  },
                  "conversationId": {
                    "type": "string"
                  },
                  "kind": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/files/{fileId}/content": {
      "get": {
        "operationId": "getFilesFileIdContent",
        "summary": "Download file content",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/files/ingest-document": {
      "post": {
        "operationId": "postFilesIngestDocument",
        "summary": "Ingest an uploaded document",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Multipart form data. Field-level schemas are validated server-side."
              }
            }
          }
        }
      }
    },
    "/api/v1/files/presign": {
      "get": {
        "operationId": "getFilesPresign",
        "summary": "Presign file access",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "mimeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sizeBytes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ]
      }
    },
    "/api/v1/files/search-text": {
      "post": {
        "operationId": "postFilesSearchText",
        "summary": "Search file text",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fileId": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/files/share": {
      "patch": {
        "operationId": "patchFilesShare",
        "summary": "Update file sharing",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "fileId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "public"
                    ]
                  }
                },
                "required": [
                  "fileId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/files/upload-url": {
      "post": {
        "operationId": "postFilesUploadUrl",
        "summary": "Create an upload URL",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sizeBytes": {
                    "type": "number",
                    "minimum": 0
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mimeType": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "sizeBytes",
                  "name",
                  "mimeType"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/generate-image": {
      "post": {
        "operationId": "postGenerateImage",
        "summary": "Generate an image",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1
                  },
                  "modelId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "aspectRatio": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  },
                  "conversationId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "turnId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "imageUrl": {
                    "type": "string",
                    "minLength": 1
                  },
                  "temporaryChat": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/generate-tab-group-label": {
      "post": {
        "operationId": "postGenerateTabGroupLabel",
        "summary": "Generate a tab group label",
        "tags": [
          "Tools"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
[...]
