{
  "openapi": "3.0.3",
  "info": {
    "title": "Overlay Web API",
    "version": "1.0.0",
    "description": "Generated from the overlay-web route boundary registry. This first-pass reference documents stable route inventory and request shapes."
  },
  "servers": [
    {
      "url": "https://getoverlay.io",
      "description": "Hosted Overlay web app"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development web app"
    }
  ],
  "tags": [
    {
      "name": "Administration"
    },
    {
      "name": "Agent environments"
    },
    {
      "name": "Automations"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Bootstrap"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Files"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Knowledge"
    },
    {
      "name": "MCP Servers"
    },
    {
      "name": "Media"
    },
    {
      "name": "Memory"
    },
    {
      "name": "Model Providers"
    },
    {
      "name": "Models"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Onboarding"
    },
    {
      "name": "Outputs"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Skills"
    },
    {
      "name": "Tools"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/api/v1/admin/audit": {
      "get": {
        "operationId": "getAdminAudit",
        "summary": "List audit events",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/admin/principals": {
      "delete": {
        "operationId": "deleteAdminPrincipals",
        "summary": "Revoke an administrative principal",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "userId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminPrincipals",
        "summary": "List administrative principals",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminPrincipals",
        "summary": "Grant an administrative principal",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "auditor",
                      "billing_admin",
                      "support"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId",
                  "role"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/usage": {
      "get": {
        "operationId": "getAdminUsage",
        "summary": "List administrative usage",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ]
      },
      "post": {
        "operationId": "postAdminUsage",
        "summary": "Adjust an administrative budget",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "amountCents": {
                    "type": "integer"
                  }
                },
                "required": [
                  "userId",
                  "amountCents"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments": {
      "get": {
        "operationId": "getAgentEnvironments",
        "summary": "List connected agent environments in the active workspace",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/approve": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdApprove",
        "summary": "Approve a pending environment with explicit filesystem roots",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filesystemGrant": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "selected_roots"
                            ]
                          },
                          "roots": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            },
                            "minItems": 1,
                            "maxItems": 100
                          }
                        },
                        "required": [
                          "mode",
                          "roots"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "all_user_files"
                            ]
                          }
                        },
                        "required": [
                          "mode"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "required": [
                  "filesystemGrant"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/capabilities": {
      "put": {
        "operationId": "putAgentEnvironmentsEnvironmentIdCapabilities",
        "summary": "Refresh authenticated host capabilities",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocolVersion": {
                    "type": "number",
                    "enum": [
                      1
                    ]
                  },
                  "hostVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "adapters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "displayName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "protocol": {
                          "type": "string",
                          "enum": [
                            "fake",
                            "acp",
                            "eve",
                            "native"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "supports": {
                          "type": "object",
                          "properties": {
                            "prompt": {
                              "type": "boolean"
                            },
                            "approval": {
                              "type": "boolean"
                            },
                            "cancel": {
                              "type": "boolean"
                            },
                            "resume": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "prompt",
                            "approval",
                            "cancel",
                            "resume"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "id",
                        "displayName",
                        "protocol",
                        "supports"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 100
                  },
                  "filesystem": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "selected_roots"
                            ]
                          },
                          "roots": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            },
                            "minItems": 1,
                            "maxItems": 100
                          }
                        },
                        "required": [
                          "mode",
                          "roots"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "all_user_files"
                            ]
                          }
                        },
                        "required": [
                          "mode"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "maxConcurrentRuns": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "maximum": 1000
                  }
                },
                "required": [
                  "protocolVersion",
                  "hostVersion",
                  "platform",
                  "adapters",
                  "filesystem",
                  "maxConcurrentRuns"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/commands": {
      "get": {
        "operationId": "getAgentEnvironmentsEnvironmentIdCommands",
        "summary": "Poll durable commands for an authenticated environment",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "waitMs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 30000
            }
          }
        ]
      }
    },
    "/api/v1/agent-environments/{environmentId}/commands/{commandId}/ack": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdCommandsCommandIdAck",
        "summary": "Acknowledge or reject a claimed environment command",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocolVersion": {
                    "type": "number",
                    "enum": [
                      1
                    ]
                  },
                  "commandId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "environmentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "accepted": {
                    "type": "boolean"
                  },
                  "error": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "message": {
                        "type": "string",
                        "maxLength": 2000
                      }
                    },
                    "required": [
                      "code",
                      "message"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "protocolVersion",
                  "commandId",
                  "environmentId",
                  "accepted"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/credentials": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdCredentials",
        "summary": "Issue an initial short-lived environment credential after device proof",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocolVersion": {
                    "type": "number",
                    "enum": [
                      1
                    ]
                  },
                  "proofChallenge": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 512
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 16384
                  }
                },
                "required": [
                  "protocolVersion",
                  "proofChallenge",
                  "signature"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/credentials/refresh": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdCredentialsRefresh",
        "summary": "Rotate a signed environment credential",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/events": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdEvents",
        "summary": "Upload a validated contiguous batch of remote agent events",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "protocolVersion": {
                    "type": "number",
                    "enum": [
                      1
                    ]
                  },
                  "environmentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "runId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "session_started"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "remoteSessionId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "adapterId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "remoteSessionId",
                                "adapterId"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "text_checkpoint"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "final": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "text"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "action"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "actionId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "title": {
                                  "type": "string",
                                  "maxLength": 2000
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "started",
                                    "updated",
                                    "completed",
                                    "failed"
                                  ]
                                },
                                "detail": {
                                  "type": "string",
                                  "maxLength": 20000
                                }
                              },
                              "required": [
                                "actionId",
                                "title",
                                "status"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "approval_requested"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "requestKey": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "prompt": {
                                  "type": "string",
                                  "maxLength": 20000
                                },
                                "options": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200
                                      },
                                      "label": {
                                        "type": "string",
                                        "maxLength": 500
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "label"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "minItems": 1,
                                  "maxItems": 20
                                },
                                "context": {
                                  "type": "object",
                                  "additionalProperties": {},
                                  "default": {}
                                }
                              },
                              "required": [
                                "requestKey",
                                "prompt",
                                "options"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "elicitation_requested"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "requestKey": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "prompt": {
                                  "type": "string",
                                  "maxLength": 20000
                                },
                                "requestedSchema": {
                                  "type": "object",
                                  "additionalProperties": {}
                                },
                                "context": {
                                  "type": "object",
                                  "additionalProperties": {},
                                  "default": {}
                                }
                              },
                              "required": [
                                "requestKey",
                                "prompt",
                                "requestedSchema"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "plan"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "entries": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 200
                                      },
                                      "title": {
                                        "type": "string",
                                        "maxLength": 2000
                                      },
                                      "status": {
                                        "type": "string",
                                        "enum": [
                                          "pending",
                                          "in_progress",
                                          "completed",
                                          "failed"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "title",
                                      "status"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "maxItems": 100
                                }
                              },
                              "required": [
                                "entries"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "diff"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "diffId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "title": {
                                  "type": "string",
                                  "maxLength": 2000
                                },
                                "patch": {
                                  "type": "string",
                                  "maxLength": 200000
                                },
                                "language": {
                                  "type": "string",
                                  "maxLength": 100
                                }
                              },
                              "required": [
                                "diffId",
                                "title",
                                "patch"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "terminal"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "terminalId": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "title": {
                                  "type": "string",
                                  "maxLength": 2000
                                },
                                "summary": {
                                  "type": "string",
                                  "maxLength": 20000
                                },
                                "exitCode": {
                                  "type": "integer"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "running",
                                    "completed",
                                    "failed"
                                  ]
                                }
                              },
                              "required": [
                                "terminalId",
                                "title",
                                "summary",
                                "status"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "artifact"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "mediaType": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "size": {
                                  "type": "integer",
                                  "minimum": 0
                                },
                                "sha256": {
                                  "type": "string",
                                  "pattern": "^[a-f0-9]{64}$"
                                },
                                "uploadReference": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                }
                              },
                              "required": [
                                "name",
                                "mediaType",
                                "size",
                                "sha256",
                                "uploadReference"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "completed"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "summary": {
                                  "type": "string",
                                  "maxLength": 20000
                                },
                                "usage": {
                                  "type": "object",
                                  "additionalProperties": {},
                                  "default": {}
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "failed"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "message": {
                                  "type": "string",
                                  "maxLength": 20000
                                },
                                "retryable": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "code",
                                "message",
                                "retryable"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "protocolVersion": {
                              "type": "number",
                              "enum": [
                                1
                              ]
                            },
                            "eventId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "environmentId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "runId": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "sourceSequence": {
                              "type": "integer",
                              "exclusiveMinimum": true,
                              "minimum": 0
                            },
                            "occurredAt": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "cancelled"
                              ]
                            },
                            "payload": {
                              "type": "object",
                              "properties": {
                                "reason": {
                                  "type": "string",
                                  "maxLength": 2000
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "protocolVersion",
                            "eventId",
                            "environmentId",
                            "runId",
                            "sourceSequence",
                            "occurredAt",
                            "type",
                            "payload"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                },
                "required": [
                  "protocolVersion",
                  "environmentId",
                  "runId",
                  "events"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/heartbeat": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdHeartbeat",
        "summary": "Record an authenticated environment heartbeat",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/revoke": {
      "post": {
        "operationId": "postAgentEnvironmentsEnvironmentIdRevoke",
        "summary": "Revoke an environment and its credentials",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/{environmentId}/roots": {
      "patch": {
        "operationId": "patchAgentEnvironmentsEnvironmentIdRoots",
        "summary": "Change an environment filesystem grant",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filesystemGrant": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "selected_roots"
                            ]
                          },
                          "roots": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            },
                            "minItems": 1,
                            "maxItems": 100
                          }
                        },
                        "required": [
                          "mode",
                          "roots"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "all_user_files"
                            ]
                          }
                        },
                        "required": [
                          "mode"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "required": [
                  "filesystemGrant"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/agent-environments/enroll": {
      "post": {
        "operationId": "postAgentEnvironmentsEnroll",
        "summary": "Redeem an enrollment code and register a device public key",
        "tags": [
          "Agent environments"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 16,
                    "maxLength": 512
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "publicKey": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 8192
                  },
                  "hostVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "capabilities": {
                    "type": "object",
                    "properties": {
                      "protocolVersion": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "hostVersion": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "platform": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "adapters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "displayName": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "protocol": {
                              "type": "string",
                              "enum": [
                                "fake",
                                "acp",
                                "eve",
                                "native"
                              ]
                            },
                            "version": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 100
                            },
                            "supports": {
                              "type": "object",
                              "properties": {
                                "prompt": {
                                  "type": "boolean"
                                },
                                "approval": {
                                  "type": "boolean"
                                },
                                "cancel": {
                                  "type": "boolean"
                                },
                                "resume": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "prompt",
                                "approval",
                                "cancel",
                                "resume"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "id",
                            "displayName",
                            "protocol",
                            "supports"
                          ],
                          "additionalProperties": false
                        },
                        "maxItems": 100
                      },
                      "filesystem": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "enum": [
                                  "selected_roots"
                                ]
                              },
                              "roots": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "minItems": 1,
                                "maxItems": 100
                              }
                            },
                            "required": [
                              "mode",
                              "roots"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "enum": [
                                  "all_user_files"
[...]
