{
  "openapi": "3.0.3",
  "info": {
    "title": "Overlay Web API",
    "version": "1.0.0",
    "description": "Generated from the overlay-web route boundary registry. This first-pass reference documents stable route inventory and request shapes."
  },
  "servers": [
    {
      "url": "https://getoverlay.io",
      "description": "Hosted Overlay web app"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development web app"
    }
  ],
  "tags": [
    {
      "name": "Administration"
    },
    {
      "name": "Automations"
    },
    {
      "name": "Billing"
    },
    {
      "name": "Bootstrap"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Discovery"
    },
    {
      "name": "Files"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Knowledge"
    },
    {
      "name": "Knowledge Bases"
    },
    {
      "name": "MCP Servers"
    },
    {
      "name": "Media"
    },
    {
      "name": "Memory"
    },
    {
      "name": "Models"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Onboarding"
    },
    {
      "name": "Outputs"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Skills"
    },
    {
      "name": "Tools"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/api/v1/admin/audit": {
      "get": {
        "operationId": "getAdminAudit",
        "summary": "List audit events",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/admin/authorization/assignments": {
      "delete": {
        "operationId": "deleteAdminAuthorizationAssignments",
        "summary": "Revoke a role",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectType": {
                    "type": "string",
                    "enum": [
                      "user",
                      "group"
                    ]
                  },
                  "subjectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "roleId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "subjectType",
                  "subjectId",
                  "roleId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminAuthorizationAssignments",
        "summary": "List role assignments",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminAuthorizationAssignments",
        "summary": "Assign a role",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectType": {
                    "type": "string",
                    "enum": [
                      "user",
                      "group"
                    ]
                  },
                  "subjectId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "roleId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "subjectType",
                  "subjectId",
                  "roleId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/authorization/capabilities": {
      "get": {
        "operationId": "getAdminAuthorizationCapabilities",
        "summary": "List authorization capabilities",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/authorization/grants": {
      "delete": {
        "operationId": "deleteAdminAuthorizationGrants",
        "summary": "Remove a resource access grant",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grantId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "grantId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminAuthorizationGrants",
        "summary": "List resource access grants",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ]
      },
      "post": {
        "operationId": "postAdminAuthorizationGrants",
        "summary": "Create or update a resource access grant",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "resourceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "principalType": {
                    "type": "string",
                    "enum": [
                      "user",
                      "group",
                      "role"
                    ]
                  },
                  "principalId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "accessRole": {
                    "type": "string",
                    "enum": [
                      "viewer",
                      "editor",
                      "owner"
                    ]
                  }
                },
                "required": [
                  "resourceType",
                  "resourceId",
                  "principalType",
                  "principalId",
                  "accessRole"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/authorization/groups": {
      "delete": {
        "operationId": "deleteAdminAuthorizationGroups",
        "summary": "Archive an authorization group",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "groupId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminAuthorizationGroups",
        "summary": "List authorization groups",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchAdminAuthorizationGroups",
        "summary": "Update an authorization group",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": [
                  "groupId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminAuthorizationGroups",
        "summary": "Create an authorization group",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/authorization/memberships": {
      "delete": {
        "operationId": "deleteAdminAuthorizationMemberships",
        "summary": "Remove a group membership",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "groupId",
                  "userId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminAuthorizationMemberships",
        "summary": "List group memberships",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ]
      },
      "post": {
        "operationId": "postAdminAuthorizationMemberships",
        "summary": "Add a group membership",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "groupId",
                  "userId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/authorization/roles": {
      "delete": {
        "operationId": "deleteAdminAuthorizationRoles",
        "summary": "Archive a custom authorization role",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roleId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "required": [
                  "roleId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminAuthorizationRoles",
        "summary": "List custom authorization roles",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchAdminAuthorizationRoles",
        "summary": "Update a custom authorization role",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roleId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100
                  }
                },
                "required": [
                  "roleId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminAuthorizationRoles",
        "summary": "Create a custom authorization role",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "default": []
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/catalog": {
      "get": {
        "operationId": "getAdminCatalog",
        "summary": "List administratively configurable models, tools, and connectors",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/governance/export": {
      "get": {
        "operationId": "getAdminGovernanceExport",
        "summary": "Export governance and audit evidence",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "project",
                "knowledge_base"
              ]
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ]
      }
    },
    "/api/v1/admin/governance/policies": {
      "get": {
        "operationId": "getAdminGovernancePolicies",
        "summary": "List versioned governance policies",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "project",
                "knowledge_base"
              ]
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "superseded",
                "rejected"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchAdminGovernancePolicies",
        "summary": "Approve or reject a draft governance policy",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "policyId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "reject"
                    ]
                  }
                },
                "required": [
                  "policyId",
                  "action"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminGovernancePolicies",
        "summary": "Create a draft governance policy version",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "enum": [
                      "project",
                      "knowledge_base"
                    ]
                  },
                  "resourceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "retentionUntil": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  },
                  "legalHold": {
                    "type": "boolean"
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "resourceType",
                  "resourceId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/governance/reviews": {
      "get": {
        "operationId": "getAdminGovernanceReviews",
        "summary": "List governance access reviews",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "project",
                "knowledge_base"
              ]
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "completed"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchAdminGovernanceReviews",
        "summary": "Complete an access review",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reviewId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "reviewId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminGovernanceReviews",
        "summary": "Open an access review with an ACL snapshot",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "enum": [
                      "project",
                      "knowledge_base"
                    ]
                  },
                  "resourceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "dueAt": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "resourceType",
                  "resourceId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/knowledge-bases": {
      "get": {
        "operationId": "getAdminKnowledgeBases",
        "summary": "List all knowledge bases for administration",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/knowledge-bases/defaults": {
      "delete": {
        "operationId": "deleteAdminKnowledgeBasesDefaults",
        "summary": "Remove a default knowledge base from a group",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "knowledgeBaseId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "groupId",
                  "knowledgeBaseId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminKnowledgeBasesDefaults",
        "summary": "List default knowledge bases assigned to groups",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ]
      },
      "post": {
        "operationId": "postAdminKnowledgeBasesDefaults",
        "summary": "Assign a default knowledge base to a group",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "knowledgeBaseId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "groupId",
                  "knowledgeBaseId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/principals": {
      "delete": {
        "operationId": "deleteAdminPrincipals",
        "summary": "Revoke an administrative principal",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "userId"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAdminPrincipals",
        "summary": "List administrative principals",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAdminPrincipals",
        "summary": "Grant an administrative principal",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "auditor",
                      "billing_admin",
                      "support"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId",
                  "role"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/usage": {
      "get": {
        "operationId": "getAdminUsage",
        "summary": "List administrative usage",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ]
      },
      "post": {
        "operationId": "postAdminUsage",
        "summary": "Adjust an administrative budget",
        "tags": [
          "Administration"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "amountCents": {
                    "type": "integer"
                  }
                },
                "required": [
                  "userId",
                  "amountCents"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v1/automations": {
      "delete": {
        "operationId": "deleteAutomations",
        "summary": "Delete an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accessToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "automationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "automationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAutomations",
        "summary": "List automations",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ],
              "default": "updatedAt"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "automationId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          },
          {
            "name": "runs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ]
            }
          }
        ]
      },
      "patch": {
        "operationId": "patchAutomations",
        "summary": "Update an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "schedule": {},
                  "projectId": {
                    "type": "string"
                  },
                  "automationId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "automationId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postAutomations",
        "summary": "Create an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "schedule": {},
                  "projectId": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/run": {
      "post": {
        "operationId": "postAutomationsRun",
        "summary": "Run an automation",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "runId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "runId"
                ],
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/v1/automations/test": {
      "post": {
        "operationId": "postAutomationsTest",
        "summary": "Test an automation draft",
        "tags": [
          "Automations"
        ],
        "security": [
          {
            "browserSession": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Stable response schemas are documented in workflow guides when available.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response shape is route-specific and may be backed by @overlay/app-core contracts."
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
[...]
