.DS_Store
.git
.next
.next-analyze
.vercel
node_modules
npm-debug.log*

.env
.env.*
!.env.example
!.env.onprem.example

coverage
renders
docs-site/node_modules
overlay-desktop/node_modules
overlay-mobile/node_modules
