OVERLAY_PROVIDER_DATABASE=postgres
OVERLAY_DATABASE_URL=postgres://overlay_app:overlay_app_dev_password@localhost:54330/overlay_app
OVERLAY_DATABASE_SSL_MODE=disable

OVERLAY_POSTGRES_DB=overlay_app
OVERLAY_POSTGRES_USER=overlay_app
OVERLAY_POSTGRES_PASSWORD=overlay_app_dev_password
OVERLAY_POSTGRES_PORT=54330
