[submodule "overlay-desktop"]
	path = overlay-desktop
	url = https://github.com/LayerNorm/overlay-desktop.git
[submodule "overlay-mobile"]
	path = overlay-mobile
	url = ./overlay-mobile
[submodule "overlay-chrome"]
	path = overlay-chrome
	url = ./overlay-chrome
[submodule "overlay-marketing"]
	path = overlay-marketing
	url = https://github.com/LayerNorm/overlay-marketing.git
